@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;1,6..12,300;1,6..12,400;1,6..12,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
