@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;1,6..12,300;1,6..12,400;1,6..12,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  background-color: #f1f5f8;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 80%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.toggle:hover {
  background-color: rgb(197, 193, 193);
  color: black;
  padding: 1px 10px;
  border-radius: 5px;
}
.custom-datepicker-input {
  outline: none;
}
